<%- include("../partials/header.ejs") %>

<div class="container">
	<h1 class="text-center">Edit Comment</h1>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<form action="/campgrounds/<%= campgroundId %>/comments/<%= comment._id %>?_method=PUT" method="POST">
				<div class="form-group">
					<textarea class="form-control" name="text" style="resize: none"><%= comment.text %></textarea>
				</div>
				<button class="btn btn-lg btn-primary btn-block">Submit</button>
			</form>
			<a href="/campgrounds/<%= campgroundId %>">Back</a>
		</div>
	</div>
</div>

<%- include("../partials/footer.ejs") %>